.container {
  margin: 1px;
}

.styledButton {
  background-color: #eee;
  border-radius: 5%;
  border-color: azure;
  color: blue;
  margin : 2%;
  padding: 2%;
}

.progressBarContainer {
  margin: 10px;
  padding: 1px;
}